<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<div class="centertitle">
<div class="title">
  <div class="title-word">Photo</div>
  <div class="title-word">2</div>
  <div class="title-word">Text</div>
</div>
</div>