{{#if currentUser}}
<h2>Welcome {{currentUser.name}}</h2>
<p>Have you visited the <a href="/secret/">secret page</a> for only logged in users?</p>
{{else}}
<h2>Welcome Stranger</h2>
<p>Please <a href="/login">login</a> or <a href="/signup">signup</a> to continue.</p>
{{/if}}

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>